
<h1>Daniel Tsui - Why rails is so great- 10:30 </h1>

<p>
  A for loop goes on this page that iterates through questions
</p>

<% if false %>
<%= form_for :questions, url: articles_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>


<button id="myBtn" class="button">Ask a question</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h1>Ask a Question</h1>
    <label>Title: </label>
    <input class="std_input" name='question_title'><BR />
    <label>Question:</label>
    <textarea class="std_input_xl" name='question_body'><BR />
    <div>Please check if a similar question has already been asked.</div>
    <div>Asking a question will cost you one of your three votes </div>
  </div>

</div>

<!-- script here to prevent js running too early -->
<script>
var modal = document.getElementById('myModal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
};

$('#myBtn').click(function() {
    modal.style.display = "block";
});

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
};
</script>
