<%= render "advertisment_heading" %>

<%= simple_form_for @advertisment do |f| %>

  <%= render "company_details", f: f %>
  <%= render "company_type", f: f %>
  <%= render "seniority", f: f %>
  <%= render "work_type", f: f %>
  <%= render "advertisment_radios", f: f %>
  <%= f.input :project, label: 'Are you able to describe the project or type of projects the successful person will likely be working on' %>

  <%= f.submit %>
<% end %>


<!-- Salary as slider bar
Perks
Summary?
Requirements-->

<!-- Information box to sit top right

We know writing ads can be boring an ineffecient! Why not make a <a>company bio</a> and let the community know about you and what you are usually looking for. Even better when JobMatcher comes out you could be automatically matched with the staff you need!

help icon text on hover - <i>We understand 'blind posts' are sometimes necessary. Specifying the company name will increase applications but if absolutely necessary you can leave this blank.</i> -->
