<%# Admin page %>

<h1>Administration Page</h1>


<%= form_tag '/event_new', method: 'get' do %>
  <button class="button"><h2>Add an event</h2></button><br>
<% end %>

<h2>Current Events List</h2>

<% if @events.length > 0 %>

  <% @events.each do |event| %>

    <a href="/event/show/<%= event.id %>">
      <h3><%= event.title %></h3>
      <p><%= event.speaker %></p>
      <p><%= event.description %></p>
    </a>

  <% end %>
<% else %>
  <h3>There are no events to show</h3>
<% end %>
