<%# AGENDA PAGE %>

<h1>WDI6 SUMMIT- Today's Agenda</h1>

<% if false %>
<% @events.each do |event| %>

  <h3><%= event.title %></h3>
  <p><%= event.speaker %></p>
  <p><%= event.description %></p>

<% end %>
<% end %>


<ol>
  <li class="agenda_item"> <%= link_to 'DANIEL TSUI - WHY CODING IS SO AMAZING - 9:30', '/question/index' %> </li>

  <li class="agenda_item"><%= link_to 'JONATHAN - WHY LINKEDIN IS > LIFE - 11:30', '/question/index' %></li>

  <li class="agenda_item"><%= link_to 'MJ - WHY COURSE > LIFE. - 12:30', '/question/index' %></li>

  <li class="agenda_item"><%= link_to 'MARTY - WHY TO GOOGLE ANY MEDICAL CONDITION - 2:30', '/question/index' %></li>

  <li class="agenda_item"><%= link_to 'MATT - BEER, WARMUPS AND WORDPRESS - 3:30', '/question/index' %></li>
</ol>
