<%# 3rd page - Agenda %>

<h1>WDI6 SUMMIT- Today's Agenda</h1>

<ol>
  <li class="agenda_item"> <%= link_to 'DANIEL TSUI - WHY CODING IS SO AMAZING - 9:30', event_index_path %> </li>

  <li class="agenda_item"><%= link_to 'JONATHAN - WHY LINKEDIN IS > LIFE - 11:30', event_index_path %></li>

  <li class="agenda_item"><%= link_to 'MJ - WHY COURSE > LIFE. - 12:30', event_index_path %></li>

  <li class="agenda_item"><%= link_to 'MARTY - WHY TO GOOGLE ANY MEDICAL CONDITION - 2:30', event_index_path %></li>

  <li class="agenda_item"><%= link_to 'MATT - BEER, WARMUPS AND WORDPRESS - 3:30', event_index_path %></li>
</ol>
