<%# EVENT QUESTIONS PAGE %>

<h2 style="margin-top:1.5rem"><%= "#{@event.title} - #{@event.speaker} - #{@event.time}" %> </h2>
<div style="margin-top:1.5rem"><%= @event.description %></div>

<button class="btn-sml" id="sort_by_recent">Randomize</button>
<button class="btn-sml" id="sort_by_trending">Recently Asked</button>
<button class="btn-sml" id="sort_by_trending">Trending</button>
<button class="btn-sml" id="sort_by_most_liked">Most Liked</button>
<BR /><BR />

<% if @questions %>
  <% @questions.each do |question| %>
      <% if question.event.to_i == @event.id %>
        <p style ="background-color:rgba(125, 25, 53, 0.15)"><%= question.description %> - Asked by
          <%= @users.find_by(id: question.user_id).name %>
          <i id="thumbsup" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <span id="likecount" style="float:right"> <%= question.question_likes %></span>
        </p>
      <% end %>
  <% end %>
<% else %>
  <h3>No-one has asked a question yet! Be the first to ask one below!</h3>
<% end %>

<button id="myBtn" class="button">Ask a question</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h1>Ask a Question</h1><BR />

    <%= form_tag "/event/#{@event.id}", method: 'post' do %>
      <textarea autofocus rows="4" cols="50" class="std_input_xl" name='question_body' placeholder="Write your question here" required></textarea><BR />
      <button class="button" id="submit_question">Submit</button>
    <% end %>

      <h6>Please check if a similar question has already been asked.</h6>
      <h6>Asking a question will use one of your three votes </h6>
  </div>

</div>
