
<h1>Daniel Tsui - Why rails is so great</h1> <div>This needs to be passed</div>

<p>
  A for loop goes on this page that iterates through questions
</p>

<% if false %>
<%= form_for :questions, url: articles_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>


<button id="myBtn" class="button">Ask a question</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h1>Ask a Question</h1>
    <label>Title: </label>
    <input class="std_input" name='name_input'><BR />
    <label>Question:</label>
    <input class="std_input" name='email_input'><BR />
  </div>

</div>
