<!-- Login page  -->

<h2>Welcome to RubyJobs </h2>
<h5>Please Login to access full functionality of the site</h5>

<%= form_tag '/login', method: 'patch' do %>
  <label>Username or Email: </label><BR />
  <input class="std_input" name='name_input' placeholder="Example@gmail.com"  autofocus><BR />

  <label>Password:</label><BR />
  <input class="std_input" name='email_input' placeholder="Please enter your password" value="<%=@user.email%>"><BR />

  <button class="button">Login</button>

<% end %>

<

<%= form_tag '/login', method: 'patch' do %>
  <label>Name: </label><BR />
  <input class="std_input" name='name_input' placeholder="Your Name" value="<%=@user.name%>" autofocus><BR />
  <label>Email:</label><BR />
  <input class="std_input" name='email_input' placeholder="Your Email" value="<%=@user.email%>"><BR />
  <button class="button" id="start">START</button>
<% end %>
