
<!DOCTYPE html>
<html>
<head>
  <title>Questionable</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2><%= link_to "Questionable #{prepend_dash_to_user_name}", root_path, class:"header_left", id:"title" %></h2>
    <% if logged_in? %>
      <h3><%= link_to 'Schedule', agenda_index_path, class:"header_right" %></h3>
    <% end %>
    <h3><%= link_to 'What is Questionable', about_path, class:"header_right" %></h3>
    <hr class="hr">
  </header>

  <div class="container">

    <%= yield %>

  </div>

</body>
<footer>
  <hr class="hr">
  <% if logged_in? %>
  <h3><%= link_to 'Logout', logout_path, class:"footer_right" %></h3>
  <% end %>
  <% if find_user_code != 'adminxxx' %>
    <h3><%= link_to 'My Profile', edit_profile_path, class:"footer_right" %></h3>
  <% else %>
    <h3><%= link_to 'Admin', admin_path, class:"footer_right" %></h3>
  <% end %>
</footer>
</html>
