<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <title>RubyJobs</title>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'RubyJobs.ico' %>

  <!-- Turbo-links  -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://use.fontawesome.com/a54e857abf.js"></script>

</head>
<body>

<%= render "layouts/navigation" %>

<%= flash[:notice] %>

<div class="jumbotron">
  <div class="container">
    <%= yield %>
  </div>
</div>

</body>

<footer>
  <div class="container">
    <div class="row">
      Use of the site is subject to the <a>Terms and Conditions.</a> If you notice any issues please help us improve by <a>providing feedback</a>. <a>The RubyJobs Team</a>
    </div>
  </div>
</footer>


</html>
